# Flutter / Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock

# Plateformes generees automatiquement par la CI
android/
ios/
windows/
linux/
macos/
web/

# Divers
.idea/
.vscode/
*.iml
.DS_Store
